<div class="center">
    <p style="margin-bottom: 30px;">現在のパスワードを入力してください</p>
    <p class="show_password_error error"></p>
    <%= form_with(url: edit_hairdresser_path(@current_hairdresser.id), method: :get) do |f| %>
        <%= f.password_field :current_password, class: "hairdresser_show_form" %>
        <div>
            <%= f.submit "完了", class: "btn btn-success", style: "width: 150px; margin-top: 60px" %>
        </div>
    <% end %>
</div>