<div class="center">
    <h3>パスワードの更新</h3>
    <%= form_with(model: @current_hairdresser, url: hairdresser_password_update_path, method: :patch) do |f| %>
        <p>パスワード</p>
        <p class="hairdresser_password_error error"></p>
        <%= f.password_field :password, class: "hairdresser_show_form password" %>
        <p>パスワード確認</p>
        <%= f.password_field :password_confirmation, class: "hairdresser_show_form password" %>
        <div>
            <%= f.submit "完了", class: "btn btn-success", style: "width: 150px; margin-top: 60px" %>
        </div>
    <% end %>
</div>