<% if @current_user.email.include?("twitter") == false %>
    <div class="center">
        <p style="margin-bottom: 30px;">現在のパスワードを入力してください</p>
        <p class="show_password_error error"></p>
        <%= form_with(url: edit_user_path(@current_user.id), method: :get) do |f| %>
            <p class="user_register_form_password_error error"></p>
            <%= f.password_field :current_password, class: "user_show_form password name user_register_form_element" %>
            <div>
                <%= f.submit "完了", class: "btn btn-success", style: "width: 150px; margin-top: 60px" %>
            </div>
        <% end %>
    </div>
<% else %>
    <p>twitterアカウントのため、操作できません</p>
<% end %>