<p>パスワードを忘れても大丈夫です!</p>
<p>以下のURLからパスワードの再設定をしてください</p>
<% if @user.present? %>
    <%= user_password_update_as_forget_url(token: @token, email: @user.email) %>
<% elsif @hairdresser.present? %>
    <%= hairdresser_password_update_as_forget_url(token: @token, email: @hairdresser.email)%>
<% end %>

<p>※URLの有効期限は10分間です。有効期限を過ぎますと過ぎますとURLは無効になりますので、
その場合、もう一度最初から手続きを行ってください。</p>