// <% if @error == "password_fail" %>
//     $(".error").html("<%= j(render "home/error", target: @user) %> <p>パスワードが一致しません</p>");
// <% else %>
//     $(".error").html("<%= j(render "home/error", target: @user) %>");
// <% end %>
var address = "111-1111";
  var reg = /^[0-9]{3}-[0-9]{4}$/;
  if (reg.test(address)) {
    console.log("正しい");
  } else {
    console.log("間違っている");
  }
var address = "111-111-1111";
  var reg = /^[0-9]{3}-[0-9]{3}-[0-9]{4}$/;
  if (reg.test(address)) {
    console.log("正しい");
  } else {
    console.log("間違っている");
  }

var address = "12345679";
  var reg = /^[0-9]{9}$/;
  if (reg.test(address)) {
    console.log("正しい");
  } else {
    console.log("間違っている");
  }