$(".user_register_form_password_error").html("")
<% if @short_long_error.present? %>
    $(".user_register_form_password_error").append(`<p><%=@short_long_error%></p>`)
    $(".user_show_form").css({
        "border-color": "red"
    })
<% end %>
<% if @match_error.present? %>
    $(".user_register_form_password_error").append(`<p><%=@match_error%></p>`)
    $(".user_show_form").css({
        "border-color": "red"
    })
<% end %>