<div class="center">
    <p class="not_regist" >まだ登録は完了していません。</p>
    <p>性別を選択してください</p>
    <%= form_with(model: @user, url: twitter_create_path, local: true) do |f| %>
        <span class="man cursor2" id="man">
            <span>男性</span>
            <%= f.radio_button :sex, :男性 %>
        </span>
        <span class="woman cursor2" id="woman">
            <span>女性</span>
            <%= f.radio_button :sex, :女性 %>
        </span>
        <%= f.submit "登録", class: "btn btn-success", style: "width: 150px; display: block; margin: 0 auto; margin-top: 30px;" %>
    <% end %>
</div>