//連打防止のために工夫した　double_clickというクラスをもっているとき削除ボタンをおすとalertが発生する

if ( $(".hair_box").hasClass('double_click') ){
  alert("二重クリックは禁止されています。")
  setTimeout(function(){
    $(".hair_box").removeClass('double_click');
  },1000);  
} 
else {
  if (<%= @size %> == 0 ) {
    $(".hair_box").addClass('double_click');
    var id = <%= @i %>
    $(".image_form").append(`<p><input name="[arry][]", value=${id} class="hidden"></p>`)
    $(".image_label").removeClass("width_80");
    $(".image_label").addClass("width_100");
    $(".hair_box").remove();
    $(".image_form").children("p").eq(1).remove();    //二番目のpを削除
  } 
  else {
    if ($(".image_label").hasClass("width_80")) {
      $(".image_label").removeClass("width_80");
      $(".image_label").addClass("width_100");
    } 
    else if ($(".image_label").hasClass("width_60")) {
      $(".image_label").removeClass("width_60");
      $(".image_label").addClass("width_80");
    }
    else if ($(".image_label").hasClass("width_40")) {
      $(".image_label").removeClass("width_40");
      $(".image_label").addClass("width_60");
    }
    else if ($(".image_label").hasClass("width_20")) {
      $(".image_label").removeClass("width_20");
      $(".image_label").addClass("width_40");
    }
    else if ($(".image_label").hasClass("width_0")) {
      $(".image_label").removeClass("width_0");
      $(".image_label").addClass("width_20");
    }
    else if ($(".image_label").hasClass("width_100")) {
      $(".image_label").removeClass("width_100");
      $(".image_label").removeClass("display_none");
      $(".image_label").addClass("width_20");
    }
    var id = <%= @i %>
    $(".image_form").append(`<input name="[arry][]", value=${id} class="hidden">`)
    $(".image_boxes").html("<%= j(render "style_images/style_image_save", hair_arry: @hair_arry) %>");
    $(".hair_box").addClass('double_click');
    setTimeout(function(){
      $(".hair_box").removeClass('double_click');
    },400); 
  }
}