<main id="user_main">
        <div class="container main_content">
            <h3 class="aaa">500円で美容院に行ける!!</h3>
            <h3>カットもカラーもすべて500円!!</h3>
            <h3>登録無料!!</h3>
            <h3>今なら500ポイントプレゼント!!(1回利用無料)</h3>
        </div>
</main>


<%= link_to "adminへ", admins_hairdresser_judge_index_path %>









