<div class="center">
    <p style="font-size: 30px; padding-top: 150px;">予約が完了しました</p>
    <p>施術日時まで担当美容師とチャットができるようになりました!!</p>
    <p>サロンの地図のURLが添付してある予約完了メールを<%=@current_user.email%>に送信しました。(申し訳ありませんがtwitterアカウントの方にはメールが届きません)</p>
</div>