<div class="containe center">
    <div class="number_hidden">
        <h2>**** **** ****<%=@default_card_information.last4%></h2>
    </div>
    <% exp_month = @default_card_information.exp_month.to_s %>  <!--to_sにしないと7行目で文字列と合体できない-->
    <% exp_year = @default_card_information.exp_year.to_s.slice(2,3) %>
    <span class="time_limit">有効期限</span><%= exp_month + " / " + exp_year %>
    <div class="card_delete">
    <%= link_to "削除", user_card_path(@current_user.id), method: :delete, data: {confirm: "本当に削除しますか?"}, class: "btn btn-danger"%>
    </div>
</div>