/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";           /*ここを追加*/

body {
    //background-color:#FFEFD5;

}

#yield {
    min-height: 100vh;
    //margin-bottom: 140px;
    background-color:rgba(247, 247, 247, 0.6);
    //padding-top: 30px;
    //padding-bottom: 100px;
    //position: relative;/*←相対位置*/
    //padding-bottom: 120px;/*←footerの高さ*/
    //box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

//footer

footer {
    text-align: center;
    padding-top: 70px;
    width: 100%;
    height: 200px;
    background-color:#DEB887;
    z-index: 70;
    
}


.cursor {
    cursor: pointer;
    transition: all 0.6s ease; //カーソルを離した時もゆっくり変化
    text-decoration: none;
}


.cursor:hover {
    color: #CC9933;
    transition: all 0.6s ease;
    text-decoration: none;
}

.font {
    font-family: serif;
}

.center {
    text-align: center;
}
p {
    margin-bottom: 0px;
    font-family: serif;
}

h1, h2, h3, span {
    font-family: serif;
}

// li {
//     text-decoration: none;
// }

a, li {
    color: #DEB887; 
    transition: all 0.6s ease; //カーソルを離した時もゆっくり変化
    text-decoration: none;
    font-family: serif;
}

a:hover, li:hover {
    color: #CC9933;
    transition: all 0.6s ease;
    text-decoration: none;
}


li:hover {
    color: #CC9933;
}

.fadein {
    opacity : 0;                      //透明度 0~1         
    transform : translate(0, 150px);  //右へ0px 下に100px下げる
}

   
    
//header
header {
    width: 100%;
    height: 180px;
    //background-color: transparent;
    background-color:rgba(255, 255, 255, 0.5);
    //background-color: transparent;
    margin-top: -20px;
    z-index: 80;

}

.fix {
    // width: 100%;
    //background-color: transparent;
    // height: 130px;
    z-index: 80;
    position: fixed;
    // top: 20px;
}


.log {
    width: 400px;
    height: 300px;
    position: relative;
    top: -85px;
    left: 160px;
}

.link_box {
    background-color:transparent;
    width: 360px;
    height: 62px;
    position: absolute;
    top: 23px;
    left: 170px;
}

.search_form_header {
    position: absolute;
    right: 15%;
    width: 250px;
    top: 40px;
}

.search_icon_btn {
    position: absolute;
    right: 0px;
    top: 0px;
}

#none_login {
    position: absolute;
    top: 100px;
    left: 33%;
    width: 1200px;
}

#none_login_user {
    position: absolute;
    top: 100px;
    left: 19%;
    width: 1200px;
}

#none_login_hairdresser {
    position: absolute;
    top: 100px;
    left: 14.8%;
    width: 1208px;
}

#user_header {
    position: absolute;
    top: 100px;
    left: 25%;
    width: 1200px;
}


#hairdresser_header {
    position: absolute;
    top: 100px;
    left: 9%;
    width: 1400px;
}

.tag {
    display: inline-block;
    font-size: 25px;
    margin-right: 85px;
    position: relative;
    font-family: serif;
    color: #DEB887;
    cursor: pointer;
}

.tag_left {
    margin-left: 100px;
    cursor: pointer;
}

.welcome {
    position: relative;
    top: -36px;
    right: -260px; 
}

.welcome2 {
    position: relative;
    top: -28px;
    right: -260px; 
}


.fadein.active {
    opacity : 1;
    transform : translate(0, 0);
    transition : all 2s ease; //allはopacityとtransformを指定 hoverやjsでタイミングを定義しないと発動しない
}

// .now_login {
//     position: relative;
//     width: 220px;
//     left: 400px;
//     top: -170px;
// }

.salon {
    position: relative;
    top: -91px;
    left: 135px;
}



.sign_in_block_user {        //スライドダウンさせると意図してない要素が動く現象があったので、absoluteにするしかなかった
    position: absolute;
    left: 59%;
}

.sign_up_block_user {
    position: absolute;
    left: 74.5%;
}



.sign_in_block_hairdresser {        //スライドダウンさせると意図してない要素が動く現象があったので、absoluteにするしかなかった
    position: absolute;
    left: 65%;
}

.sign_up_block_hairdresser {
    position: absolute;
    left: 80%;
}


.slide_down {
    display: none;
    background-color: transparent;
}






//
.error {
    color: red;
    margin-bottom: 0px;
}

.must {
    background-color: red;
    color: white;
    margin-left: 5px;
    border-radius: 3px;
}

.sign_up_in {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 90;
}


.login_page {
    position: absolute;
    top: 20%;
    left: 37%;
    background-color: white;
    border: 5px black solid;
    border-radius: 10px;
    width: 450px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.login_form {
    width: 300px;
    margin-left: 75px;
    margin-bottom: 20px;
}

.login_btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}

.form-control {

}






//会員登録
#user_register {
    position: absolute;
    top: 3%;
    left: 35%;
    background-color: #CCFFFF;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}

.for_user {
    width: 200px;
    margin-left: 150px;
    margin-bottom: 40px;
}

#user_btn {
    width: 50%;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

//美容師登録
#hairdresser_register {
    position: absolute;
    top: 3%;
    left: 20%;
    background-color: #CCFFFF;
    border-radius: 10px;
    width: 1000px;
    text-align: center;
}

.for_hairdresser {
    width: 200px;
    margin-bottom: 10px;
}

#hairdresser_btn {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.display_inline {
    display: inline-block;
    width: 270px;
    margin-left: 50px;
}

.display_inline2 {
    display: inline-block;
    width: 270px;
    margin-right: 280px;
}

.display_inline3 {
    display: inline-block;
    width: 300px;
    margin-right: 50px;
    margin-left: 30px;
    vertical-align: top;
}


//会員top画面

#user_main {
    background-image: image-url("girl4.jpg"); //ca girl4
    height: 1020px;
    background-size: cover;
    background-position: 10% 90%;  
    margin-top: -90px;
    z-index: 90;
    background-attachment: fixed;
}


.main_content {
    margin-top: 70px;
}

#top_hairdresser_slider {
    height: 500px;
}


.carousel-control {
    margin-top: 200px;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
    color: #C0C0C0;
}

.faq {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.left_static {
    text-align-last: left;
    display: none;
}


.answers {
    width: 750px;
    margin: 0 auto;
}

.question {
    cursor: pointer;
}


//美容師のtop画面
#hairdresser_main {
    background-image: image-url("hair4.jpg");
    height: 1020px;
    background-size: cover;
    background-position: 10% 60%;  
    margin-top: -90px;
    z-index: 90;
    background-attachment: fixed;
}

.blue {
    color: #DEB887;
}

.human {
    width: 230px;
    height: 250px;
}

.hairdresser_use_image {
    margin-bottom: 30px;
    text-align: center;
}

.hairdresser_use_explain {
    width: 400px;
    margin: 0 auto;
}

//美容師一覧
#hairdresser_index {
    z-index: 90;
    background-color: #FFEFD5;
}

.main_index_content {
    padding-top: 100px;
}

.hairdresser_show {
    display: inline-block;
    text-align: center;
    margin-right: 9px;
    margin-bottom: 30px;
}

.hairdresser_show_img {
    border-radius: 30px 30px 0 0;
    margin-right: 30px;
}

.name_etc {
    width: 320px;
    height: 145px;
    background-color: white;
    border-radius: 0 0 30px 30px;
}

.search_box {
    width: 760px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 30px;
    margin-top: -75px;
    padding-top: 20px;
}

.search_tag {
    margin-right: 30px;
}

.search_form {
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}


//検索フォーム画面
.search_box_big {
    width: 1000px;
    height: 700px;
    background-color: white;
    border-radius: 30px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 60px;
}

.search_menu, .search_day, .search_time, .search_area, .search_none, .search_area_name, .search_area_current_place, .search_reputation, .search_keyword {
    width: 580px;
    height: 60px;
    margin: 0 auto;
}

.font_size {
    float: left;
    font-size: 20px;
    margin-right: 90px;
}

.font_size2 {
    font-size: 15px;
    margin-left: 30px;
}

.font_size3 {
    font-size: 15px;
    margin-left: 180px;
}

.font_size4 {
    font-size: 15px;
}

#day, #start_time{
    height: 30px;
    margin-left: 50px;
}

#finish_time {
    height: 30px;
    margin-left: 20px;
}

#prefectures {
    height: 30px;
    margin-left: 180px;
}

.prefecture_form {
    width: 230px;
    margin-left: 300px;
    margin-top: -30px;
    height: 30px;
}

.number_form {
    height: 25px;
}

#start_rate {
    margin-left: 50px;
    margin-top: 5px;
}



.wave {
    margin-left: 20px;
    font-size: 25px;
}

select {
    border: 1px solid #C0C0C0;
}

select:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #C0C0C0;
}

// input:focus {
//     outline: 0;
//     box-shadow: none;
//     border: 1px solid #C0C0C0;
// }

#price {
    border: 1px solid #C0C0C0;
}

#price:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #C0C0C0;
}

.search_btn {
    background: linear-gradient(103deg, #52c5eb, #0d92c3);
    margin-left: 310px;
    margin-top: 130px;
    width: 320px;
    border-radius: 30px;
    height: 50px;
    border: 0;
}

.search_btn:focus {
    outline: 0;
}

.search_form2 {
    width: 300px;
    position: relative;
    left: -10px;
}

.search_btn2 {
    position: relative;
    top: -33px;
    left: 190px;
}













//美容師詳細モーダル
#hairdresser_show_modal {
   margin-top: 100px;
}
.box_left {
    width: 360px;
    display: inline-block;
    vertical-align: top;
}

.box_right {
    width: 450px;
    height: 630px;
    display: inline-block;
    vertical-align: top;
    overflow:auto;
}

.box-right2 {
    width: 300px;
    height: 400px;
    background-color: blue;
    display: inline-block;
}

.hairdresser_show_box1 {
    width: 350px;
}

.hairdresser_show_box2 {
    width: 375px;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    padding-left: 20px;
    padding-right: 20px;
    //padding-top: 5px;
}

.hairdresser_show_box3 {
    width: 375px;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    padding-left: 20px;
}

.hairdresser_appoint_box {
    width: 320px;
    height: 50px;
    margin-top: 20px;
    background-color: #DEB887;
    padding-top: 7px;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
}

.show_remove {
    border-radius: 30px 30px 30px 30px;
    background-color: white;
    position: relative;
    right: 180px;
}

.name_etc {
    text-align: center;
}

.introduce {
    padding-top: 10px;
}





//メニュー選択ページ
#menu_choice {

}

//userマイページ


//userのカード登録
.cvc {
    width: 180px;
}

.ca_form {
    display: inline;
    margin: 30px 0;
}

#card_number {
    width: 160px;
}

// #charge-form {
//     margin-top: 70px;
// }

.card_register {
    padding-top: 70px;
}

.number_hidden {
    margin-top: 70px;
}

.limit {
    margin-left: -25px;
}

.security {
    margin-left: -40px;
}

.time_limit {
    margin-right: 10px;
}

.card_delete {
    margin-top: 30px;
}








//美容師マイページ


.hairdresser_box {
    background-color: #FFF5EE;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
}
.hairdresser_show_name {
    font-size: 18px;
    margin-top: 10px;
}

.notice_number {
    position: relative;
    top: -20px;
    right: -50px;
    color: white;
    background-color: red;
    border-radius: 40px;
    font-size: 25px;
}

.notice_cancel_number {
    position: relative;
    top: -20px;
    right: -110px;
    color: white;
    background-color: red;
    border-radius: 40px;
    font-size: 25px;
}






hr {
    height: 1px;
    background-color:black;
    margin-top: 100px;
}








.display_block {
    display: block;
}

.display_none {
    display: none;
}

.display_inline_block {
    display: inline-block;
}









// 美容師メニュー作成ページ
.category_name {
    margin-left: 10px;
}

.menu_tag {
    margin-top: 30px;
}

.categories {
    position: absolute;
    right: 30px;
    top: 80px;
}

.menu_card {
    background-color: white;
    width: 700px;
    height: 192px;
    border-radius: 30px;
    margin-top: 70px;
}

.menu_top {
}

.title {
    font-size: 30px;
    width: 360px;
    height: 42px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}


.menu_time {
    width: 40px;
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}

.card_categories {
    width: 200px;
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

.category {
    background-color: pink;
    color: white;
    border-radius: 5px;
}

.explain {
    width: 530px;
    height: 130px;
    margin-top: 10px;
    padding-left: 20px;
    display: inline-block;
    word-wrap: break-word;
}

#prev_menu_img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
   
    vertical-align: top;
}


.save_card {
    position: absolute;
    left: 1000px;
    top: 300px;
}







//メニュー一覧
.reservation_make {
    position: relative;
    top: -120px;
    left: 900px;
    font-size: 20px;
}

//美容師予定表作成
.reservation_menu {
    margin-top: 50px;
}
.reservation_menu_card {
    margin-top: 30px;
    margin: 0 auto;
}

.simple-calendar table {
    background-color: white;
}

.day {
    background-color: wi;
}

  













.arrive {
    display: block;
}

.card_form_close_modal {
    margin-left: 420px;
}

.card_modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
}

.card_form {
    position: absolute;
    top: 20%;
    left: 37%;
    background-color:#CCFFFF;
    border-radius: 10px;
    width: 450px;
    text-align: center;
}

.card_form_pay {
    margin-top: 0;
}













.image_form {
    display: inline-block;
    width: 100%;
    height: 350px;
    //子要素のinline-blockの隙間をなくす
    font-size: 0;
}

.image_label {
    height: 350px;
    background-color:grey;
    padding-top: 125px;
    margin-top: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.hair_box {
    background-color:white;
    width: 19%;
    height: 350px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    font-size: 2;
    //margin-top: 5px;
    // margin-right: 0.5%;
    // margin-left: 0.5%;
    margin: 5px 0.5%;
    //下にずれるのを防ぐ
    vertical-align: top;
 }

.change_save_btn {
    text-align: center;
    margin-top: 60px;
}

.width_100 {
    width: 100%;
}

.width_80 {
    width: 80%;
}

.width_60 {
    width: 60%;
}

.width_40 {
    width: 40%;
}

.width_20 {
    width: 20%;
}

.width_0 {
    width: 0%;
}
   
.display_none {
    display: none;
}

.output {
    width: 80%;
    height: 250px;
}



//予約投稿
.time {
    margin-top: 50px;
    margin-bottom: 100px;
    //padding-left: 140px;

}

// .make_btn {
//     margin-right: 100px;
// }

#_start_time_1i {
    display: none;
}

#_start_time_2i {
    display: none;
}

#_start_time_3i {
    display: none;
}






//予約するかどうか
.request {
    margin: 0 auto;
}

.plan {
    margin-top: 50px;
}

.expect {
    margin-bottom: 50px;
}

.reservation_btn {
    margin-top: 50px;
}

.checkbox {
    display: inline;
}













//hairdresser予約一覧ページ
.user_request_modal {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 500px;
    min-height: 300px;
    background-color: #CCFFFF;
    border-radius: 30px;
    padding: 30px;
}

.index_user_reservations {
    margin-top: 0px;
}

.start_day {
    margin-bottom: 20px;
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
}

.reservation_table {
    margin-bottom: 90px;
}

.flash_new {
    background-color: red;
    border-radius: 30px;
    color: white;
}


//user予約一覧ページ
.reservation_hairdresser_name {
    color: black;
}


//adminログイン

#admin_login_form {
    margin-top: -67px;
    padding-top: 108px;
}
.admin_login_page {
    margin-top: 70px;
    text-align: center;
}

.admin_login_form {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 30px;
}

#admin_header {
    float: right;
    margin-top: 30px;
    margin-right: 100px;
}

.admin_title {
    margin-bottom: 50px;
}

//承認待ち
.hairdresser_confirm_img {
    margin-bottom: 30px;
    border-radius: 20px;
}

.hairdresser_confirm_box {
    width: 450px;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.admin_reject {
    background-color: white;
    width: 300px;
    height: 300px;
    z-index: 99;
}

.reject_btn {
    margin-top: 50px;
}

.admin_reject_content {
    margin-top: 100px;
}

.admin_img {
    font-weight: 20px;
    position: relative;
    top: -120px;
    left: 137px;
}

.admin_reject_error {
    color: red;
    margin-right: 20px;
}




//チャート
.chart {
    width: 800px;
    //text-align: center;
    margin: 0 auto;
}

.link {
    float: right;
    margin-right: 30px;
}



//メニューカード２
.menu_card2 {
    background-color: white;
    width: 700px;
    height: 292px;
    border-radius: 30px;
    margin-top: 70px;
}

.menu_bottom2 {
    margin-top: 30px;
}

.menu_time2 {
    position: relative;
    right: 20px;
}

.title2 {
    font-size: 30px;
    width: 360px;
    height: 42px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 13px;
}

.face_img {
    margin-left: 10px;
    margin-top: 2px;
}


.reservation_make2 {
    position: relative;
    top: -160px;
    left: 900px;
    font-size: 20px;
}




//reservation
.reservation_table {
   margin: 0 auto;
   margin-top: 50px;
   margin-bottom: 50px;
   table-layout: fixed;
   display: table;
   //border: solid #BFB9B0;
   border-spacing: 0;
    //border-width: 0 1px 1px 1px;
   box-sizing: border-box;
    //width: 100%;
   //border: solid 1px #BFB9B0;
   border: solid 1px  #BFB9B0; border-collapse: collapse;
}

th {
    //background-color: red;
    text-align: center;
}

.border_top {
    border-top: solid 3px #BFB9B0;
}

.border_right {
    border-right: solid 1px #BFB9B0;
}


.border_left {
    border-left: solid 1px #BFB9B0;
}

.border_bottom {
    border-bottom: solid 1px #BFB9B0;
}


.border_bottom2 {
    border-bottom: solid 3px #BFB9B0;
}

// <tr>
//                 <th width="87" height="38"></th>
//                 <% for i in 0..13 do %>
//                     <th width="42" height="45" style="display: block;">
//                         <%= (@key_day+i).day %>
//                         (<%= %w(日 月 火 水 木 金 土)[(@key_day+i).wday] %>)
//                     </th>
//                 <% end %>
//                 <th width="87" height="38"></th>
//   