/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";           /*ここを追加*/
body {
}

#yield {
    min-height: 100vh;
    background-color:rgba(247, 247, 247, 1.0);
    width: 100%;
    //padding-bottom: 300px;
    display: block;
    //margin-top: 110px;
}

//footer

footer {
    text-align: center;
    padding-top: 70px;
    width: 100%;
    height: 200px;
    background-color:#DEB887;
    z-index: 70;
    
}

.color {
    color: #DEB887;
}

.color:hover {
    color: #DEB887;
}



.cursor {
    cursor: pointer;
    transition: all 0.3s ease; //カーソルを離した時もゆっくり変化
    text-decoration: none;
}

.cursor2 {
    cursor: pointer;
}


.cursor:hover {
    color: #FFDEAD;
    transition: all 0.3s ease;
    text-decoration: none;
}

.font {
    font-family: serif;
}

.center {
    text-align: center;
}
p {
    margin-bottom: 0px;
    font-family: serif;
}

h1, h2, h3, span {
    font-family: serif;
}

a, li {
    // color: #F5DEB3; 
    // transition: all 0.3s ease; //カーソルを離した時もゆっくり変化
    text-decoration: none;
    font-family: serif;
    cursor: pointer;
    color: black;
}

a:hover, li:hover {
    // color: #FFDEAD;
    // transition: all 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    color: black;
}



.fadein {
    opacity : 0;                      //透明度 0~1         
    transform : translate(0, 150px);  //右へ0px 下に100px下げる
}


.fadein.active {
    opacity : 1;
    transform : translate(0, 0);
    transition : all 2s ease; //allはopacityとtransformを指定 hoverやjsでタイミングを定義しないと発動しない
}

//flash
#flash {
    background-color: rgba(153, 255, 161, 0.5);
    width: 300px;
    height: 70px;
    font-size: 21px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid green;
    position: fixed;
    top: 200px;
    color: #009900;
    right: 100px;
}

#flash_red {
    background-color: rgba(255, 27, 11, 0.5);
    width: 300px;
    height: 70px;
    font-size: 21px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid red;
    position: fixed;
    top: 200px;
    color: #CC0033;
    right: 100px;
}
   
    
//header
header {
    width: 100%;
    height: 130px;
    //background-color: transparent;
    //background-color:rgba(255, 255, 255, 0.9);
    background-color:  #DEB887;
    //background-color: transparent;
    margin-top: -5px;
    z-index: 80;
}

.fixed{
    z-index: 80;
    position: fixed;
}



.header_top {
    background-color: white;
    height: 50px;
    width: 100%;
}

.header_top_left {
    height: 50px;
    width: 80%;
    color: black;
    text-align: center;
    padding-top: 15px;
    float: left;
}

.header_top_right {
    
    //display: inline-block;
    width: 20%;
    height: 50px;
    float: left;
}

.user_register {
    display: inline-block;
    height: 50px;
    width: 50%;
    
    float: left;
    text-align: center;
    padding-top: 15px;
}

.user_login {
    display: inline-block;
    height: 50px;
    width: 50%;
    
    float: left;
    text-align: center;
    padding-top: 15px;
}

.header_bottom {
    width: 100%;
    height: 80px;
}

.logo {
    //background-color: red;
    width: 345px;
    height: 293px;
    position: absolute;
    top: -50px;
}

.link_box {
    background-color:transparent;
    //background-color: rgb(122, 115, 115);
    width: 300px;
    height: 66px;
    position: absolute;
    top: 55px;
    left: 25px;
}


.salon {
    position: relative;
    position: relative;
    left: 310px;
    color: black;
    top: 60px;
}
   

.search_form {
    width: 300px;
    height: 80px;
    text-align: center;
    float: right;
    //background-color: yellow;
    padding-top: 20px;
}


#none_login {
    height: 80px;
    width: 700px;
    //background-color: red;
    float: right;
    text-align: center;
    padding-top: 23px;
}

.none_login_ul_user {
    padding: 0;
    padding-left: 200px;
}

.none_login_ul_hairdresser {
    padding: 0;
    padding-left: 180px;
}

.tag1 {
    display: inline-block;
    color: black;
    margin-right: 30px;
    font-size: 20px;
    cursor: pointer;
}


.tag_left1 {
    margin-left: 20px;
}



//aboutページ
.title_chokichoki_1 {
    padding-top: 70px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.chokichoki_explain {
   
    margin: 0 auto;
    margin-top: 50px;
    word-wrap: break-word;
}

.explain_img {
    height: 500px;
    width: 400px;
}

.how_to_chokichoki {
    //background-color: #333333;
    background-color:  #DEB887;
    width: 100%;
    height: 700px;
    margin-top: 100px;
}

.title_chokichoki_2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.step_explain {
    width: 1100px;
    margin: 0 auto;
}

.step {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    word-wrap: break-word;
}

.step_img {
    width: 150px;
    height: 150px;
}





#user_header, #hairdresser_header, #admin_header {
    //padding-left: 590px;
    float: right;
    margin-top: 20px;
}




.search_form_header {
    position: absolute;
    right: 10%;
    //width: 250px;
    top: 40px;
}

.search_top {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

.search_icon_btn {
    //position: absolute;
    position: relative;
    top: 0px;
    left: -5px;

    //display: inline-block;
}

.welcome {
    display: inline-block;
    vertical-align: top;
}

.welcome2 {
    position: relative;
    top: -28px;
    right: -260px; 
}



// .now_login {
//     position: relative;
//     width: 220px;
//     left: 400px;
//     top: -170px;
// }


.sign_in_block_user {        //スライドダウンさせると意図してない要素が動く現象があったので、absoluteにするしかなかった
    position: absolute;
    left: 59%;
}

.sign_up_block_user {
    position: absolute;
    left: 74.5%;
}



.sign_in_block_hairdresser {        //スライドダウンさせると意図してない要素が動く現象があったので、absoluteにするしかなかった
    position: absolute;
    left: 65%;
}

.sign_up_block_hairdresser {
    position: absolute;
    left: 80%;
}


.slide_down {
    display: none;
    background-color: transparent;
}

.none_login {
    position: absolute;
    left: 21.5%;
}

.none_new {
    position: absolute;
    left: 37%;
}





//
.error {
    color: red;
    margin-bottom: 0px;
}

.must {
    background-color: red;
    color: white;
    margin-left: 5px;
    border-radius: 3px;
}

.sign_up_in {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 90;
}


.login_page {
    position: absolute;
    top: 20%;
    left: 37%;
    background-color: white;
    border: 5px black solid;
    border-radius: 10px;
    width: 450px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.login_form {
    width: 300px;
    margin-left: 75px;
    margin-bottom: 20px;
}

.login_btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}

.form-control {

}






//会員登録
#user_register {
    margin: 0 auto;
    margin-top: 80px;
    background-color: #EEEEEE;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    border: 5px solid;
}

.for_user {
    width: 200px;
    margin-left: 150px;
    margin-bottom: 40px;
}

#user_btn {
    width: 50%;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

//美容師登録
#hairdresser_register {
    margin: 0 auto;
    margin-top: 30px;
    background-color: #EEEEEE;
    border-radius: 10px;
    width: 1000px;
    text-align: center;
    border: 5px solid;
}

.for_hairdresser {
    width: 200px;
    margin-bottom: 10px;
}

#hairdresser_btn {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.display_inline {
    display: inline-block;
    width: 270px;
    margin-left: 50px;
}

.display_inline2 {
    display: inline-block;
    width: 270px;
    margin-right: 280px;
}

.display_inline3 {
    display: inline-block;
    width: 300px;
    margin-right: 50px;
    margin-left: 30px;
    vertical-align: top;
}


//会員top画面

#user_main {
    background-image: image-url("girl_top100.jpeg");
    height: 810px;
    background-size: cover;
    background-position: 0% -5%; 
    //margin-right: -13px; 
    //margin-top: -232px;
    z-index: 90;
    //margin-left: 0px;
    //background-attachment: fixed;
}

.dark2 {
    height: 800px;
    width: 100%;
    background-color: rgba(0,0,0,0.0);
}

.publicity {
    font-size: 40px;
    padding-top: 270px;
    padding-left: 850px;
}


.search_form_square {
    width: 480px;
    height: 320px;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(191,203,222,0.4);
    border-radius: 10px;
    margin-left: 53%;
    margin-top: 10px;
    padding-top: 8px;
}

.find {
    width: 230px;
    height: 160px;
    display: inline-block;
    vertical-align: top;
    padding-left: 18px;
    padding-top: 15px;
}

.find_content {
    text-align: left;
    padding-left: 40px;
    position: relative;
    top: -8px;
}

.find_icon {
    position: relative;
    right: 75px;
    top: 10px;
}


.find_tag {
    width: 195px;
    height: 50px;
    border: 3px solid #DEB887;
    border-radius: 10px;
    margin-bottom: 20px;
}

.search_top2 {
    display: inline-block;
    vertical-align: top;
    width: 360px;
    height: 50px;
}

.circles {
    position: absolute;
    top: 600px;
    left: 200px;
}

.circle_top {
    background-color:  #DEB887;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: inline-block;
    vertical-align: top;   
    margin-right: 20px;
    text-align: center;
    padding-top: 55px;
}

.propaganda_user {
    font-size: 25px;
    color: white;
}

.botttom_search {
    background-color: #F5DEB3;
    width: 100%;
    height: 200px;
}

.search_icon_btn2 {
    position: relative;
    top: 0px;
    left: -5px;
    width: 50px;
    height: 50px;
}


#top_hairdresser_slider {
    height: 500px;
}


.carousel-control {
    margin-top: 200px;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
    color: #C0C0C0;
}

.faq {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.left_static {
    text-align-last: left;
    display: none;
}


.answers {
    width: 750px;
    margin: 0 auto;
}

.question {
    cursor: pointer;
}


//美容師のtop画面
#hairdresser_main {
    background-image: image-url("hair_top3.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 10% 60%;  
    z-index: 90;
}

.dark {
    width: 100%;
    height: 500px;
    background-color: rgba(0,0,0,0.4);
}

.header2 {
    width: 100%;
    height: 72px;
    background-color: white;
}

.logo2 {
    width: 345px;
    height: 293px;
    position: absolute;
    top: -100px;
}

.link_top {
    position: absolute;
    top: 20px;
    left: 30px;
}

.header_top_left2 {
    height: 72px;
    width: 10%;
    float: right;
    //background-color: yellow;
}

.header_top_right2 {
    height: 72px;
    width: 10%;
    float: right;
    //background-color: red;
}

.propaganda {
    color: white;
    font-size: 25px;
    margin-top: 50px;
}

.propaganda2 {
    color: white;
    font-size: 50px;
    margin-top: 10px;
}

.propaganda3 {
    color: white;
    margin-top: 10px;
}

.propaganda4 {

}

.circle {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color:  #DEB887;
    display: inline-block;
    margin-top: 50px;
    margin-right: 30px;
    padding-top: 45px;
}

.circle > p {
    color: white;
    font-size: 20px;
}

.chokichoki_feature {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    margin-left: 20px;
}

.feature {
    width: 480px;
    height: 120px;
    border: 3px solid #DEB887;
    margin-bottom: 20px;
}

.gold {
    color: #DEB887;
}

.reason {
    width: 100%;
    background-color: #F5DEB3;
    height: 430px;
    margin-top: 60px;
}

.reason_point {
    width: 190px;
    height: 190px;
    background-color: #DEB887;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.point {
    background-color:#ffffff;
    color: #f5618a;
    font-size: 16px;
    height: 40px;
    padding-top: 6px;
}

.flow {
    width: 100%;
    height: 500px;
    //background-color: #F5DEB3;
    margin-top: 30px;
}

.flow_step {
    width: 190px;
    height: 230px;
    border: 3px solid #DEB887;
    display: inline-block;
    //margin-right: 30px;
    vertical-align: top;
}

.next_img {
    margin-top: 80px;
}

.next_img2 {
    margin-top: 100px;
}

.visit {
    width: 100%;
    height: 430px;
    background-color: #F5DEB3;
    padding-top: 50px;
}

.flow_step2 {
    width: 190px;
    height: 230px;
    //border: 3px solid #DEB887;
    display: inline-block;
    margin-top: 20px;
    //margin-right: 30px;
    vertical-align: top;
    background-color:  #DEB887;
}

.visit_img {
    margin-top: 10px;
}
// color: #f5618a;
//     font-size: 16px;
//     height: 40px;
//     padding-top: 6px;





.human {
    width: 230px;
    height: 250px;
}

.hairdresser_use_image {
    margin-bottom: 30px;
    text-align: center;
}

.hairdresser_use_explain {
    width: 400px;
    margin: 0 auto;
}

//美容師一覧
#hairdresser_index {
    z-index: 90;
    background-color: #FFEFD5;
}

.main_index_content {
    padding-top: 100px;
}

.hairdresser_show {
    display: inline-block;
    text-align: center;
    margin-right: 9px;
    margin-bottom: 30px;
}

.hairdresser_show_img {
    border-radius: 30px 30px 0 0;
    margin-right: 30px;
}

.name_etc {
    width: 320px;
    height: 145px;
    background-color: white;
    border-radius: 0 0 30px 30px;
}

.search_box {
    width: 760px;
    height: 125px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 30px;
    margin-top: -75px;
    padding-top: 20px;
    border: 1px solid;
}

.search_tag {
    margin-left: 20px;
}


//検索フォーム画面
.search_box_big {
    width: 1000px;
    height: 700px;
    background-color: white;
    border-radius: 30px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 30px;
    border: 1px solid;
}

.search_menu, .search_day, .search_time, .search_area, .search_none, .search_area_name, .search_area_current_place, .search_reputation, .search_keyword, .search_sex {
    width: 580px;
    height: 60px;
    margin: 0 auto;
}

.font_size {
    float: left;
    font-size: 20px;
    margin-right: 90px;
}

.font_size2 {
    font-size: 15px;
    margin-left: 30px;
}

.font_size3 {
    font-size: 15px;
    margin-left: 180px;
}

.font_size4 {
    font-size: 15px;
}

.font_size5 {
    font-size: 15px;
    margin-left: 50px;
}

#day, #start_time{
    height: 30px;
    margin-left: 50px;
}

#finish_time {
    height: 30px;
    margin-left: 20px;
}

#prefectures {
    height: 30px;
    margin-left: 180px;
}

.prefecture_form {
    width: 230px;
    margin-left: 300px;
    margin-top: -30px;
    height: 30px;
}

.number_form {
    height: 25px;
}

#start_rate {
    margin-left: 50px;
    margin-top: 5px;
}



.wave {
    margin-left: 20px;
    font-size: 25px;
}

select {
    border: 1px solid #C0C0C0;
}

select:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #C0C0C0;
}

// input:focus {
//     outline: 0;
//     box-shadow: none;
//     border: 1px solid #C0C0C0;
// }

#price {
    border: 1px solid #C0C0C0;
}

#price:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #C0C0C0;
}

.search_btn {
    background: linear-gradient(103deg, #52c5eb, #0d92c3);
    margin-left: 310px;
    margin-top: 130px;
    width: 320px;
    border-radius: 30px;
    height: 50px;
    border: 0;
}

.search_btn:focus {
    outline: 0;
}

.search_form2 {
    width: 300px;
    position: relative;
    left: -10px;
}

.search_form_index {
    width: 435px;
    margin: 0 auto;
    margin-top: 20px;
}

.search_btn2 {
    position: relative;
    top: -33px;
    left: 190px;
}













//美容師詳細モーダル
#hairdresser_show_modal {
   margin-top: 100px;
}
.box_left {
    width: 360px;
    display: inline-block;
    vertical-align: top;
}

.box_right {
    width: 450px;
    height: 630px;
    display: inline-block;
    vertical-align: top;
    overflow:auto;
}

.box-right2 {
    width: 300px;
    height: 400px;
    background-color: blue;
    display: inline-block;
}

.hairdresser_show_box1 {
    width: 350px;
}

.hairdresser_show_box2 {
    width: 375px;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    padding-left: 20px;
    padding-right: 20px;
    //padding-top: 5px;
}

.hairdresser_show_box3 {
    width: 375px;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    padding-left: 20px;
}

.hairdresser_appoint_box {
    width: 320px;
    height: 50px;
    margin-top: 20px;
    background-color: #DEB887;
    padding-top: 7px;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
}

.show_remove {
    border-radius: 30px 30px 30px 30px;
    background-color: white;
    position: relative;
    right: 180px;
}

.name_etc {
    text-align: center;
}

.introduce {
    padding-top: 10px;
}





//メニュー選択ページ
#menu_choice {

}

//userマイページ


//userのカード登録
.cvc {
    width: 180px;
}

.ca_form {
    display: inline;
    margin: 30px 0;
}

#card_number {
    width: 160px;
}

// #charge-form {
//     margin-top: 70px;
// }

.card_register {
    padding-top: 70px;
}

.number_hidden {
    padding-top: 70px;
}

.limit {
    margin-left: -25px;
}

.security {
    margin-left: -40px;
}

.time_limit {
    margin-right: 10px;
}

.card_delete {
    margin-top: 30px;
}








//美容師マイページ


.hairdresser_box {
    background-color: #FFF5EE;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
}
.hairdresser_show_name {
    font-size: 18px;
    margin-top: 10px;
}

.notice_number {
    position: relative;
    top: -20px;
    right: -50px;
    color: white;
    background-color: red;
    border-radius: 40px;
    font-size: 25px;
}

.notice_cancel_number {
    position: relative;
    top: -20px;
    right: -110px;
    color: white;
    background-color: red;
    border-radius: 40px;
    font-size: 25px;
}






hr {
    height: 1px;
    background-color:black;
    margin-top: 100px;
}








.display_block {
    display: block;
}


.display_inline_block {
    display: inline-block;
}









// 美容師メニュー作成ページ
.category_name {
    margin-left: 10px;
}

.menu_tag {
    margin-top: 30px;
}

.categories {
    position: absolute;
    right: 30px;
    top: 80px;
}

.menu_card {
    background-color: white;
    width: 700px;
    height: 192px;
    border-radius: 30px;
    margin-top: 70px;
    border: 1px solid;
}

.menu_top {
}

.title {
    font-size: 30px;
    width: 360px;
    height: 42px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}


.menu_time {
    width: 40px;
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}

.card_categories {
    width: 200px;
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

.category {
    background-color: pink;
    color: white;
    border-radius: 5px;
}

.explain {
    width: 530px;
    height: 130px;
    margin-top: 10px;
    padding-left: 20px;
    display: inline-block;
    word-wrap: break-word;
}

#prev_menu_img {
    width: 150px;
    height: 148px;
    border-radius: 20px;
    vertical-align: top;
    margin-left: 7px;
}


.save_card {
    position: absolute;
    left: 1000px;
    top: 300px;
}







//メニュー一覧
.reservation_make {
    position: relative;
    top: -120px;
    left: 900px;
    font-size: 20px;
}

//美容師予定表作成
.reservation_menu {
    margin-top: 50px;
}
.reservation_menu_card {
    margin-top: 30px;
    margin: 0 auto;
}

.simple-calendar table {
    background-color: white;
}

.day {
    background-color: wi;
}

  













.arrive {
    display: block;
}

.card_form_close_modal {
    margin-left: 420px;
}

.card_modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
}

.card_form {
    position: absolute;
    top: 20%;
    left: 37%;
    background-color:#CCFFFF;
    border-radius: 10px;
    width: 450px;
    text-align: center;
}

.card_form_pay {
    margin-top: 0;
}













.image_form {
    display: inline-block;
    width: 100%;
    height: 350px;
    //子要素のinline-blockの隙間をなくす
    font-size: 0;
}

.image_label {
    height: 350px;
    background-color:grey;
    padding-top: 125px;
    margin-top: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.hair_box {
    background-color:white;
    width: 19%;
    height: 350px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    font-size: 2;
    border: 1px solid;
    //margin-top: 5px;
    // margin-right: 0.5%;
    // margin-left: 0.5%;
    margin: 5px 0.5%;
    //下にずれるのを防ぐ
    vertical-align: top;
 }

.change_save_btn {
    text-align: center;
    margin-top: 60px;
}

.width_100 {
    width: 100%;
}

.width_80 {
    width: 80%;
}

.width_60 {
    width: 60%;
}

.width_40 {
    width: 40%;
}

.width_20 {
    width: 20%;
}

.width_0 {
    width: 0%;
}
   
.display_none {
    display: none;
}

.output {
    width: 80%;
    height: 250px;
}



//予約投稿
.time {
    margin-top: 50px;
    margin-bottom: 100px;
    //padding-left: 140px;

}

// .make_btn {
//     margin-right: 100px;
// }

#_start_time_1i {
    display: none;
}

#_start_time_2i {
    display: none;
}

#_start_time_3i {
    display: none;
}






//予約するかどうか
.request {
    margin: 0 auto;
}

.plan {
    margin-top: 50px;
}

.expect {
    margin-bottom: 50px;
}

.reservation_btn {
    margin-top: 50px;
}

.checkbox {
    display: inline;
}













//hairdresser予約一覧ページ
.user_request_modal {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 500px;
    min-height: 300px;
    background-color: #CCFFFF;
    border-radius: 30px;
    padding: 30px;
}

.index_user_reservations {
    margin-top: 0px;
}

.start_day {
    // margin-bottom: 20px;
    // margin-top: 60px;
    // font-size: 20px;
    // text-align: center;
}

.reservation_table {
   // margin-bottom: 90px;
   margin-top: 70px;
}

.flash_new {
    background-color: red;
    border-radius: 30px;
    color: white;
}


//user予約一覧ページ
.reservation_hairdresser_name {
    color: black;
}


//adminログイン

#admin_login_form {
    margin-top: -67px;
    padding-top: 108px;
}
.admin_login_page {
    margin-top: 70px;
    text-align: center;
}

.admin_login_form {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 30px;
}

.admin_title {
    margin-bottom: 50px;
}

//承認待ち
.hairdresser_confirm_img {
    margin-bottom: 30px;
    border-radius: 20px;
}

.hairdresser_confirm_box {
    width: 450px;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.admin_reject {
    background-color: white;
    width: 300px;
    height: 300px;
    z-index: 99;
}

.reject_btn {
    margin-top: 50px;
}

.admin_reject_content {
    margin-top: 100px;
}

.admin_img {
    font-weight: 20px;
    position: relative;
    top: -120px;
    left: 137px;
}

.admin_reject_error {
    color: red;
    margin-right: 20px;
}




//チャート
.chart {
    width: 800px;
    //text-align: center;
    margin: 0 auto;
}

.link {
    float: right;
    margin-right: 30px;
}



//メニューカード２
.menu_card2 {
    background-color: white;
    width: 700px;
    height: 292px;
    border-radius: 30px;
    border: 1px solid;
}

.menu_bottom2 {
    margin-top: 30px;
}

.menu_time2 {
    position: relative;
    right: 20px;
}

.title2 {
    font-size: 30px;
    width: 360px;
    height: 42px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 13px;
}

.face_img {
    margin-left: 10px;
    margin-top: 2px;
}


.reservation_make2 {
    position: relative;
    top: -160px;
    left: 900px;
    font-size: 20px;
}




//reservation
.week_reservation_table {
   margin: 0 auto;
   //margin-top: 50px;
   margin-bottom: 50px;
   table-layout: fixed;
   display: table;
   box-sizing: border-box;
   border: solid 1px  #BFB9B0; border-collapse: collapse;
   width: 762px;
}

th {
    text-align: center;
}

.border_top {
    border-top: solid 1px #BFB9B0;
}

.border_top2 {
    border-top: solid 3px #BFB9B0;
}

.border_right {
    border-right: solid 1px #BFB9B0;
}


.border_left {
    border-left: solid 1px #BFB9B0;
}

.border_bottom {
    border-bottom: solid 1px #BFB9B0;
}

.border_bottom2 {
    border-bottom: solid 3px #BFB9B0;
}

.function {
    cursor: pointer;
}

.to_month_calendar {
   //float: right;
   font-size: 15px;
   margin-left: 20px;
}

.width1 {
    width: 87px;
    height: 83px;
}

.width2 {
    width: 588px;
    height: 38px;
}

.height2 {
    height: 38px;
}

.width3 {
    width: 42px;
    height: 45px;
} 

.width4 {
    width: 87px;
    height: 45px;
} 

.table_header {
    background-color: white;
}

.table_time {
    background-color: #DDDDDD;
}

#table_body {
    display: table;
}

#table_head {
    display: table;
    //position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 48;
}


.holiday_back1 {
    background-color: #D9E3EC;
}

.holiday1 {
    color: #4466BB;
}

.holiday_back2 {
    background-color: #EEDDD9;
}

.holiday2 {
    color: #BB5555;
}

.hover_color:hover {
    background-color: red;
}
// .simbol {
//     height: 42px;
//     padding-top: 12px;
// }

.simbol_round {
    // color: red;
    // background-color: white;
    height: 42px;
    padding-top: 12px;
}

// .simbol_triangle {
//     color: blue;
// }

.explain_simbol {
    margin-top: 80px;
    // margin-left: 90px;
    
    text-align: center;
}

.simbol {
    margin-left: 10px;
}

.please_reservation {
    margin-top: 30px;
    margin-bottom: 50px;
}

.change_form {
    position: fixed;
    top: 780px;
    right: 275px;
    // margin-left: 870px;
    // margin-top: 300px;
}

.big_time {
    font-size: 18px;
    border-bottom: solid 1px #BFB9B0;
}

.small_time {
    font-size: 15px;
    border-bottom: solid 3px #BFB9B0;
}


//予約index
.re_index {
    height: 150px;
}

// .start_day {
//     position: relative;
//     top: 0;
// }

.date {
    margin-bottom: -75px;
    font-size: 20px;
}

.index_user_reservations {
    padding-top: 60px;
}

.date_data {
    margin-bottom: 90px;
}







//チャット機能
#chat_page {
    width: 1100px;
    margin: 0 auto;
    font-size: 0;
    padding-top: 30px;
}

#chat_members {
    width: 400px;
    height: 750px;
    background-color: red;
    //margin-left: 100px;
    // position: relative;
    // top: 50px;
    display: inline-block;
    vertical-align: top;
    overflow: auto;
}

#search_form {
    width: 100%;
    height: 50px;
    background-color: green;
}

#chat {
    background-color: blue;
    width: 700px;
    height: 750px;
    display: inline-block;
    // position: relative;
    // top: 50px;
}

#message_form {
    width: 700px;
    height: 100px;
    //height: 50px;
    background-color: yellow;
    display: inline-block;
    //margin-top: 600px;
}

#messages {
    background-color: palevioletred;
}

.chat_form {
    resize: none;
    //height: ６00px;
}

textarea.form-control {
    //height: auto;
    height: 73px;
    width: 700px;
}

.message_btn {
    float: right;
    height: 37px;
    //pointer-events: none; 
   
}

.chat_rooms {
    height: 80px;
    background-color:pink;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat_img {
    // position: relative;
    // top: -4px;
    // right: 160px;
}



.chat_img {
   display: inline-block;
   vertical-align: top;
   float: left;
   position: relative;
   top: -4px;
   left: 5px;
}

.chat_name {
    //width: 30px;
   display: inline-block;
   float: left;
   position: relative;
   top: -20px;
   left: 30px;
}

.chat_hairdresser_name > h3 {
    color: black;;
}

.opponent {
    font-size: 15px;
    background-color: #EEEEEE;
}

.myself {
    min-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    background-color: #DEB887;
    text-align: right;
    padding-right: 10px;
}

.myself_chat {
    max-width: 450px;
    text-align: left;
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 15px 0px 15px 15px;
    word-wrap: break-word;
}

.opponent {
    min-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    background-color: pink;
    text-align: left;
    padding-left: 10px;
    //padding-top: 30px;
}

.opponent_chat {
    max-width: 450px;
    text-align: left;
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
    word-wrap: break-word;
    // position: relative;
    // top: 3px;
}

.opponent_img {
    display: inline-block;
    vertical-align: top;
    // position: relative;
    // top: -30px;
}

#chat_style_images {
    margin-right: 10px;
    cursor: pointer;
}

.dark_chat {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 90;
    text-align: center;
    padding-top: 150px;
}

.dark_remove {
    position: absolute;
    top: 130px;
    left: 320px;
    background-color: white;
    border-radius: 50%;
}

.chat_hair_box {
    background-color: white;
    width: 230px;
    height: 273px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    font-size: 2;
    border: 1px solid;
    margin: 5px 0.5%;
    vertical-align: top;
}


.circle2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid;
    float: right;
    margin-right: 5px;
}

// .myself_chat > span {
//     background-color: blue;
//     color: white;
//     padding: 10px;
// }






.display_none {
    display: none;
}


.inline_block {
    display: inline-block;
    vertical-align: top;
}
