<% if @success %>
    html = `   
                <div id="email" class="back_dark"><!--メールを送信しましたのhtml-->
                    <div class="send_email">
                        <span class="glyphicon glyphicon-remove cursor remove_icon" style="float: right;"></span>
                        <h2 class="res_font3">パスワード再設定用のメールを送信しました</h2>
                        <p>確認メールを<%=@email%>に送信しました。</p>
                        <p>送信された確認メール内に記載されたURLにアクセルすると登録が完了します。</p>
                        <p>※URLの有効期限は10分間です。</p>
                    </div>
                </div>
            `
    $("body").append(html);
    $('.back_dark').eq(6).hide();
    $(".back_dark").eq(7).show();
<% end %>
<% if @error %>
    $(".reset_email_error").text("入力されたメールアドレスを持つアカウントはありません");
<% end %>