<div class="center" style="padding-top: 60px;">
    <h3 style="margin-top: 0;">パスワードの更新</h3>
    <%= form_with(model: @hairdresser, url: hairdresser_password_update_when_not_login_path, method: :patch) do |f| %>
        <p>パスワード</p>
        <p class="hairdresser_register_form_password_error error"></p>
        <%= f.password_field :password, class: "hairdresser_show_form password name hairdresser_register_form_element" %>
        <p>パスワード確認</p>
        <%= f.password_field :password_confirmation, class: "hairdresser_show_form password name hairdresser_register_form_element" %>
        <div>
        <%= f.submit "完了", class: "btn btn-success", style: "width: 150px; margin-top: 60px" %>
        </div>
    <% end %>
</div>